<div class="value-table">
  <h1>Top 20 Values</h1>
  <table>
    <tr>
      <th>Position</th>
      <th>Player</th>
      <th>Value</th>
    </tr>
    <% players.each do |player| %>
      <tr>
        <% if player.position %>
          <td> <%= "#{player.position} (#{player.overall_rank}) " %> </td>
        <% else %>
          <td> <%= "(#{player.overall_rank}) " %></td>
        <% end %>
        <td><%= link_to "#{player.display_name}", draft_picks_path(draft_id: @draft_id, player_id: player.player_id), method: :post %></td>
        <td><%= player.value_above_nominal.to_i %></td>
      </tr>
    <% end %>
  </table>
</div>
